<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Textiles Lolo | {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    {%  stylesheets     'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                        'assets/self/css/ripples.min.css'
                        'assets/self/css/login.css'
                        'assets/vendor/gentelella/vendors/font-awesome/css/font-awesome.min.css'
                        'assets/vendor/gentelella/vendors/nprogress/nprogress.css'
                        'assets/vendor/gentelella/build/css/custom.min.css'
                        'assets/vendor/gentelella/vendors/animate.css/animate.min.css'            
            filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      {% block body %}{% endblock %}
    </div>          
  </body>
      
  {% javascripts  'assets/vendor/jquery/dist/jquery.min.js'
                    'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                      'assets/self/js/jquery-ui.min.js'
                      'assets/self/js/material.min.js'
                      'assets/self/js/ripples.min.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% block javascripts %}{% endblock %}
</html>
