<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf">

    <title>Textiles Lolo | {% block title %}{% endblock %}</title>


    {%  stylesheets 'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                    'assets/self/css/redmond/jquery-ui.min.css'
                    'assets/self/css/roboto.min.css'
                    'assets/self/css/layout.css'
                    'assets/self/css/ripples.min.css'
                    'assets/self/css/app_proveedores.css'
                    'assets/self/formvalidation/css/formValidation.min.css'
                    'assets/vendor/bootstrap-combobox/css/bootstrap-combobox.css'
                    'assets/self/css/general/general.css'
                    'assets/vendor/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css'
                    'assets/vendor/gentelella/vendors/nprogress/nprogress.css'
                    'assets/vendor/gentelella/vendors/iCheck/skins/flat/green.css'
                    'assets/vendor/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'
                    'assets/vendor/gentelella/vendors/jqvmap/dist/jqvmap.min.css'
                    'assets/vendor/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css'
                    'assets/vendor/gentelella/build/css/custom.min.css'                       
            filter='?uglifycss' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <!-- Main menu (depends of the user) -->
        {% if is_granted('ROLE_PROVEEDOR') %}
          {% include '::gen_menu_proveedores.html.twig' %}
        {% else %}
          {% include '::gen_main_menu.html.twig' %}         
        {% endif %}
        <!-- Main menu (depends of the user) -->
          
        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 924px;">
          {% block body %}{% endblock %}
        </div>

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            ©2017 Textileslolo - Orotex
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>
    </div>
  </body>
  

    {% javascripts  'assets/vendor/jquery/dist/jquery.min.js'
                      'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                      'assets/self/js/jquery-ui.min.js'
                      'assets/self/js/jquery.number.min.js'
                      'assets/self/js/jquery.ui.datepicker-es.js'
                      'assets/vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js'
                      'assets/self/js/material.min.js'
                      'assets/self/js/ripples.min.js'
                      'assets/self/js/moment.min.js'
                      'assets/self/formvalidation/js/formValidation.min.js'
                      'assets/self/formvalidation/js/framework/bootstrap.min.js'
                      'assets/self/formvalidation/js/language/es_ES.js'
                      'assets/vendor/bootstrap-combobox/js/bootstrap-combobox.js' 
                      'assets/vendor/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js'
                      'assets/vendor/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js'
                      'assets/vendor/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js'
                      'assets/vendor/gentelella/vendors/fastclick/lib/fastclick.js'
                      'assets/vendor/gentelella/vendors/nprogress/nprogress.js'
                      'assets/vendor/gentelella/vendors/Chart.js/dist/Chart.min.js'
                      'assets/vendor/gentelella/vendors/gauge.js/dist/gauge.min.js'
                      'assets/vendor/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js'
                      'assets/vendor/gentelella/vendors/iCheck/icheck.min.js'
                      'assets/vendor/gentelella/vendors/skycons/skycons.js'
                      'assets/vendor/gentelella/vendors/Flot/jquery.flot.js'
                      'assets/vendor/gentelella/vendors/Flot/jquery.flot.pie.js'
                      'assets/vendor/gentelella/vendors/Flot/jquery.flot.time.js'
                      'assets/vendor/gentelella/vendors/Flot/jquery.flot.stack.js'
                      'assets/vendor/gentelella/vendors/Flot/jquery.flot.resize.js'
                      'assets/vendor/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js'
                      'assets/vendor/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js'
                      'assets/vendor/gentelella/vendors/flot.curvedlines/curvedLines.js'
                      'assets/vendor/gentelella/vendors/DateJS/build/date.js'
                      'assets/vendor/gentelella/vendors/jqvmap/dist/jquery.vmap.js'
                      'assets/vendor/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js'
                      'assets/vendor/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js'
                      'assets/vendor/gentelella/vendors/moment/min/moment.min.js'
                      'assets/vendor/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js'
                      'assets/vendor/gentelella/build/js/custom.min.js'
          filter='?uglifyjs2'
    %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    

    {% block javascripts %}{% endblock %}
</html>

