<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-9">
    <table id="retail-supplier-condensed-table" class="table table-condensed table-hover text-center">
      <colgroup>
        <col style="text-align: center; font-size: 14pt;" >
      </colgroup>
      <thead>
        <tr>        
          <th></th>
          <th>Me Deben</th>
          <th>Debo</th>
        </tr>
        <tr>        
          <th>Proveedor</th>
          <th>Mat</th>
          <th>Bolivares</th>
        </tr>
      </thead>
      <tbody id="balance-by-retail-suppliers">
      </tbody>
      <tfoot id="totals-by-retail-suppliers">
      </tfoot>          
    </table>
  </div>
</div>

