<div class="row">
  <div id="money-general-balance" class="list-group col-xs-12 col-md-offset-3 col-md-6" style="margin-right:40px;">
    
    <!-- BS EN CAJA -->
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="mdi-content-forward"></i>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">Balance  Caja</h4>
        <p class="list-group-item-text">
          <b style="font-size: 16pt;" id="monto-bs-caja">0,00 Bs.</b>
        </p>
      </div>  
    </div>
    <div class="loader" id="caja-loader"></div>
    <!-- BS EN CAJA -->

    <div class="list-group-separator"></div>
    
    <!-- DEUDA PROVEEDORES (BS) -->
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="mdi-content-forward"></i>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">Deuda con Proveedores</h4>
        <p class="list-group-item-text">  
          <b style="font-size: 16pt;" id="monto-deuda-proveedores">0,00 Bs.</b>
        </p>
      </div>
    </div>
    <!-- DEUDA PROVEEDORES (BS) -->

    <div class="list-group-separator"></div>

    <!-- DEUDA MINORISTAS (BS) -->
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="mdi-content-forward"></i>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">Deuda con Minoristas</h4>
        <p class="list-group-item-text"> 
          <b style="font-size: 16pt;" id="monto-deuda-minoristas">0,00 Bs.</b>
        </p>
      </div>
    </div>
    <!-- DEUDA MINORISTAS (BS) -->


    <div class="list-group-separator"></div>

    <!-- BALANCE TOTAL (BS) -->
    <div class="list-group-item">
      <div class="row-action-primary">
        <i class="mdi-content-forward"></i>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">Total (Caja - Deuda)</h4>
        <p class="list-group-item-text">
          <b style="font-size: 16pt;" id="monto-total-balance">0,00 Bs.</b>                    
        </p>
      </div>
    </div>
    <!-- BALANCE TOTAL (BS) -->   
  </div>
</div>