<div class="row">
    <div id="mat-general-balance">
        <!-- WITH THE SUPPLIERS -->
        <div  class="list-group col-xs-12 col-md-offset-3 col-md-3">
        <div><h2>Proveedores (Me Deben)</h2></div>
        <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">Balance Acumulado</h4>
                    <b style="font-size: 16pt;" id="data-acummulated-grams-supp">0,00 Grs.</b>
                </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                <h4 class="list-group-item-heading">+ Pactado / Cierre del Mes: </h4>
                <p class="list-group-item-text">  
                    <b style="font-size: 16pt;" id="closed-grams-month-supp">0,00 Grs.</b>
                
                </p>
                </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">- Entregado del Mes</h4>
                    <p class="list-group-item-text">
                    <b style="font-size: 16pt;" id="grams-delivered-mont-supp">0,00 Grs.</b>
                
                    </p>
                </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">Balance</h4>
                    <p class="list-group-item-text">
                        <b style="font-size: 16pt;" id="balance-grams-supp">0,00 Grs.</b>                      
                    </p>
                </div>
        </div>    
        </div>
        <!-- WITH THE SUPPLIERS -->


        <!-- WITH HC -->
        <div class="list-group col-xs-12 col-md-3" >
        <div><h2>HC (Debo)</h2></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">Balance Acumulado</h4>
                    <b style="font-size: 16pt;" id="data-acummulated-grams-hc">0,00 Grs.</b>
                
                </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                <h4 class="list-group-item-heading">+ Pactado / Cierre del Mes</h4>
                <p class="list-group-item-text">  
                    <b style="font-size: 16pt;" id="closed-grams-month-hc">0,00 Grs.</b> 
                
                </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">- Entregado del Mes</h4>
                    <p class="list-group-item-text">
                    <b style="font-size: 16pt;" id="grams-delivered-mont-hc">0,00 Grs.</b> 
                </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-content-forward"></i>
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">Balance</h4>
                    <p class="list-group-item-text">
                        <b style="font-size: 16pt;" id="balance-grams-hc">0,00 Grs.</b>                             
                    </p>
                </div>
            </div>    
        </div>
        <!-- WITH HC -->
    </div>
</div>