body {
  background: #E7E7E7 !important; 
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif !important;
  font-weight: bold !important;  
}


.site_title i {
    border: none !important;
    padding: none !important;
    border-radius: none !important;
}

#navegationMenu,
#login-alert {
  font-size: 14pt !important;    
}

#navegationMenu a,
#tituloLogin
{
  color: white !important;    
}



#navegationMenu div ul li ul li{
  font-size: 12pt !important;  
  
}

#navegationMenu div a:focus,
#navegationMenu div ul li ul li a:hover
{
  color: black !important;
}

#tituloLogin,
#tituloLogin div,
#navegationMenu div,
#navegationMenu div ul li ul li,
#navegationMenu div ul
{
background: #cb65cf; /* Old browsers */
background: -moz-linear-gradient(top,  #cb65cf 0%, #cb65cf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb65cf), color-stop(100%,#cb65cf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cb65cf 0%,#cb65cf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb65cf', endColorstr='#cb65cf',GradientType=0 ); /* IE6-9 */   
}

#navegationMenu {
background: #cb65cf; /* Old browsers */
background: -moz-linear-gradient(top,  #cb65cf 0%, #cb65cf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb65cf), color-stop(100%,#cb65cf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cb65cf 0%,#cb65cf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cb65cf 0%,#cb65cf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb65cf', endColorstr='#cb65cf',GradientType=0 ); /* IE6-9 */     
}

#tituloLogin,
#loginbox > div 
{
  border: 1px solid #cb65cf !important;
}

#errorContrasena ul li {
  list-style: none;
  color:red;
  margin-left: -40px;
}

.mensajes-info {
  font-size: 16pt;
}


/*Login*/ 
#loginbox  > div,
#loginbox > input {
 font-size: 20pt !important;  
 
}

#login-username,
#login-password 
{
  font-size: 20pt !important; 
  height: 60px;
}

.panel-title {
  font-size: 20pt !important;
  text-align: center;
}

/*Volver al inicio button*/
.volver-arriba {
    position: fixed;
    bottom: 10em;
    right: 0px;
    text-decoration: none;
    padding: 1em;
    display: none;
}

#botonVolver {
     color: white;
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */ 
    font-size: 10pt;   
}


dl,
dd 
{
    font-size: 20pt !important;
}

.contenedor-formularios 
{
  padding-left: 10% !important; 
}


.titulosBalance {
      color: white;
background: #5B9EFF; /* Old browsers */
background: -moz-linear-gradient(top,  #5B9EFF 0%, #5B9EFF 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B9EFF), color-stop(100%,#5B9EFF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5B9EFF 0%,#5B9EFF 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5B9EFF 0%,#5B9EFF 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5B9EFF 0%,#5B9EFF 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5B9EFF 0%,#5B9EFF 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B9EFF', endColorstr='#5B9EFF',GradientType=0 ); /* IE6-9 */ 
}




.tablasListados {
    position:relative;
    width: 84%;
    font-size: 16pt;
    left:50%;
    margin-left: -42%;
    text-align: center;
}


.tablasListados  thead th th {
  text-align: center;  
}

/** Info de los recuadros del balance **/
.numerosRecuadros {
    background: rgba(44,109,232,0.5) !important;
    color:white !important;
    text-align: center;
    font-weight: bold;
}

.numerosErroneos {
 color:red;
}

.piezasEntregadas {
  list-style: none;
}

.li-form-piezas {
    width:80%;
    margin-bottom: 20px;
    left:50%;
    position: relative;
    margin-left: -40%;
}

.li-form-piezas div input {
  height: 30px !important;
}

.add_tag_link {
    width:30%;
    margin-bottom: 20px;
    left:50%;
    position: relative;
    margin-left: -15%;
}

#borrar-pieza {
position: relative;
left: 100%;
margin-left: -10%;
}


/* Cambio del color del Modal de Bootstrap */


.modal-content {
    background-color: rgba(255,254,242,1);
    color: black;
}



#modalVerEntrega .modal-dialog
{
  width: 75%;/* your width */
}

.inputs-prueba {
    background-color: rgba(198,232,179,1);
    color: black;
}


.add_tag_link {
  color:black;
  text-decoration: none;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  height: 32px;
  display:block;
}

.add_tag_link:hover {
  text-decoration: none;
  color: black;
}

#agregar-entrega {
    width:32px;
    height:32px;
}

.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#tabla-listados tr td,
#tabla-listados tr th {
  border:1px solid black;
}



.tablasListados tr th,
.tablasListados tr td {
  border: 1px solid black !important;
}


/** BOTON DE AYUDA **/
a.tip2 {
  position: relative;
  text-decoration: none;
}
a.tip2 span {display: none;}
a.tip2:hover span {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -52px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  left: 20px;
  color: #fff;
  font-size: .86em;
  cursor: link;
  z-index: 100;
}
a.tip2:hover span:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom: -16px;
  left:1em;
}
/** BOTON DE AYUDA **/

.tabla-interna-piezas {
  border: none !important;
  width:100% !important;
}

.tabla-interna-piezas tr td,
.tabla-interna-piezas tr th 
{
  border: none !important;   
}

.tablaBalanceTotal 
{
 margin-top: 10px;
 margin-bottom: 10px;
 width: 80%;
 z-index: 100;
}


.tablaBalanceTotal tr td ,
.tablaBalanceCajaVerdes tr td 
{
 border:1px solid black !important;
 text-align: center;
 font-size: 16pt;
}

.tablaBalanceTotal tr td 
{
 width: 45%;
 border-collapse: collapse;
}

.tablaBalanceTotal tr td:first-child
{
 width: 55%;
 font-size: 16pt;
 text-align: right;
}


.tablaDatosBalanceTotal tr td
{
  border: 1px solid black !important;
}



.checkboxConciliacion {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}



.chat {
    width: 400px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}



.data-ver-entity {
  font-size: 12pt;    
}





/********************** PANELES Y HOME DE PROVEEDORES ***********************/

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}


.huge {
    font-size: 40px;
}


.panel-brown {
    border-color: #6E3E1E;
}

.panel-brown .panel-heading {
    border-color: #6E3E1E;
    color: #fff;
    background-color: #6E3E1E;
}

.panel-brown a {
    color: #6E3E1E;
}

.panel-brown a:hover {
    color: #6E3E1E;
}


.panel-purple {
    border-color: #6E366C;
}

.panel-purple .panel-heading {
    border-color: #6E366C;
    color: #fff;
    background-color: #6E366C;
}

.panel-purple a {
    color: #6E366C;
}

.panel-purple a:hover {
    color: #6E366C;
}


#listado-cierres thead tr th,
#listado-cierres tbody tr td {
  text-align: center !important;
}

