<div class="modal fade" id="modalConfirmarTransferencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmación de Transferencia N° <b class="id-transferencia"></b></h4>
      </div>
      <div class="modal-body">
        <p style="font-size:12pt;">Fecha de la Transferencia: <span id="fecha-transferencia"></span></p>
        <p style="font-size:12pt;">Monto de la Transferencia: <b id="monto-transferencia"></b> € </p>
        <p style="font-size:12pt;">Esta seguro que desea confirmar la transferencia?</p>
      </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
       <button type="button" class="btn btn-primary button-confirmar-transferencia">Confirmar Transferencia</button>
    </div>        
  </div>      
</div>
</div>