<div class="modal fade" id="modalDevolverTransferencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Devolución de Transferencia N° <b class="id-transferencia"></b></h4>
      </div>
      <div class="modal-body">
        <p style="font-size:12pt;">Fecha de la Transferencia: <span id="fecha-transferencia-dev"></span></p>
        <p style="font-size:12pt;">Monto de la Transferencia: <b id="monto-transferencia-dev"></b> € </p>
        <p style="font-size:12pt;">Esta seguro que desea devolver la transferencia?</p>
        <label for="observacion-devolucion">Observación:</label>
        <textarea name="observacion-devolucion" id="observacion-devolucion" class="form-control" style="height:200px;"></textarea>
      </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
       <button type="button" class="btn btn-danger button-devolver-transferencia">Devolver Transferencia</button>
    </div>        
  </div>      
</div>
</div>