<div class="col-md-12" id="panel-form-nro-cuenta" style="display: none;">
    <form name="cuenta-por-empresa" method="post" action="#">
        <div class='ui-widget'>
            <label for="banco" class="required">Banco</label>
            <select id="banco" name="banco" required="required" class="form-control">
            </select>
            <label for="nro-cuenta" class="required">N° de Cuenta</label>
            <input type="text" id="nro-cuenta" name="nro-cuenta" required="required" class="form-control">
        </div>
        <div>
            <button type="submit" id="cuenta-por-empresa-submit" name="cuenta-por-empresa-submit" class="btn btn-success pull-right" style="margin-top: 10px;">Agregar</button>
        </div>
    </form>
</div>