  
/* Allows clear the shadows and colors of Input Fields, when validated */
.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
    border-color: none  !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}


/* Cursor clickable a todos los TRs que contengan la clase */
.clickable-row:hover {
    cursor: pointer;
}


/* Color para las tablas del sistema al hacer HOVER */
.table-hover>tbody>tr:hover>td, 
.table-hover>tbody>tr:hover>th {
    background-color: #2A3F54 !important;
    color:#eeeeee !important;
}