{% extends '::base.html.twig' %}
{% block title %}Administraci&oacute;n - Proveedores{% endblock %}
{% block body -%}
<div class="page-header">
  <h1>Proveedores
      <small>Agregar</small>
  </h1>
</div>
<div class="col-md-11 contenedor-formularios">
    {{ form(form) }}
</div>
{% endblock %}
