{% extends '::base_login.html.twig' %}
{% block body %}
<div class="col-xs-12 col-md-offset-1 col-md-10 wrapper">

  <form action="{{ path('login_check') }}" method="post" id="loginform" role="form"  class="form-signin">
    {% if error %}
    <div id="login-alert" class="alert alert-danger col-xs-12">
      <i class="glyphicon glyphicon-warning-sign"></i>
      &nbsp; 
      {{ error.message | trans }}
    </div>
   {% endif %}  

      <h2 class="form-signin-heading">TextilesLolo {{ app.environment == 'dev' ? '- Dev' : '' }}</h2>

      <div style="margin-bottom: 25px" class="input-group">
                              <span class="input-group-addon"><i class="material-icons">account_box</i></span>
      <input type="text" class="form-control" name="_username" placeholder="Usuario"   value="{{ last_username }}" required="" autofocus=""/>
      </div>

      <div style="margin-bottom: 25px" class="input-group">
                              <span class="input-group-addon"><i class="material-icons">lock</i></span>
      <input type="password" class="form-control" name="_password" placeholder="Clave" required="" />    
      </div>
      

      <button type="submit" id="btn-login" class="btn btn-lg btn-primary btn-block">Ingresar</button>
    </form>
</div>

{% endblock %}