<div class="modal fade" id="showClosedDealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id="body-modal-ver-cierres-dia">

        <table class="table table-bordered table-striped" id="table-show-closed-deals">
          <colgroup>
            <col class="col-xs-offset-2">
            <col class="col-xs-10">
          </colgroup>
          <thead></thead>
          <tbody>
            <tr>
              <td class="text-right">ID</td>
              <td id="closed-deal-id"></td>
            </tr>
            <tr>
              <td class="text-right">Fecha del Cierre</td>
              <td id="date"></td>
            </tr>
            <tr>
              <td class="text-right">Prom. Ref. Día</td>
              <td id="fcurrency-prom-ref"></td>
            </tr>
            <tr>
              <td class="text-right">Valor de la Onza</td>
              <td id="oz-day-ref"></td>
            </tr>
            <tr>
              <td class="text-right">Tipo Moneda Cierre</td>
              <td id="currency-type-closed-deal"></td>
            </tr>
            <tr>
              <td class="text-right">Peso Bruto (Grs.)</td>
              <td id="raw-mass-weight"></td>
            </tr>
            <tr>
              <td class="text-right">Ley</td>
              <td id="fineness"></td>
            </tr>
            <tr>
              <td class="text-right">Peso Puro (Grs.)</td>
              <td id="pure-mass-weight"></td>
            </tr>
            <tr>
              <td class="text-right">Pagado por Gramo</td>
              <td id="payed-by-gram"></td>
            </tr>
            <tr>
              <td class="text-right">Total Pagado</td>
              <td id="total-payed"></td>
            </tr>
            <tr>
              <td class="text-right">Minorista</td>
              <td id="retail-supplier"></td>
            </tr>                     
          </tbody>
        </table>
        
        <div class="text-center" id="loading-square-closed-deals-show">
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-12 col-md-offset-9 col-md-3">
        </div>
      </div>
    </div> 
  </div>
</div>