<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Venta de Divisas N° <b class="id-entrega"></b></h4>
            </div>
            <div class="modal-body">
              <div id="mensaje-accion"></div>
              <h4>Datos Generales de la Venta</h4>
              <hr style="border-color: black;">

            <!-- Default panel contents -->
            <div class="panel-body">
                <table width="100%" class="table-hover table-condensed table-bordered data-ver-entity">
                    
                </table>
            </div>

            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div> 
</div>
