<div class="modal fade" id="modalAgregar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Empresa</h4>
            </div>
            <div class="modal-body"> <!-- Body -->
                <h4>Datos Generales</h4>
                <hr style="border-color: black;">

                {% include 'lOroAdminBundle:EmpresasProveedores/form_template:empresa_form.html.twig' %}

            </div><!-- Body -->
        </div>
    </div> 
</div>